{% extends "base.html" %}

{% block optionalmeta %}
<title>Log In</title>
<style>

</style>
{% endblock %}

{% block containedcontent %}
<div class="container-fluid text-center login-wrapper">
    <div class="row login-row content">

        <!--side border-->
        <div class="col-sm-4">
        </div>

        <!--main content-->
        <div class="col-sm-4 login-main-content">
            <br>
            <h3>Log In</h3>
            <br>
            <div class="card bg-light login-card">
                <form>
                    <div class="form-group">
                        <label for="login-username">Username:</label>
                        <input type="text" class="form-control" id="login-username">
                    </div>
                    <div class="form-group">
                        <label for="login-pwd">Password:</label>
                        <input type="password" class="form-control" id="login-pwd">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <br>
                    <button type="button" id="log-me-in" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>

        <!--side border-->
        <div class="col-sm-4">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script src="/static/new_user.js" type="text/javascript"></script>

{% endblock %}