/* rounded table style class */
.rounded-table-basic {
    border: solid 1px;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.rounded-table-basic thead th {
    font-weight: normal;
    background: #343a40;
    color: #ffffff;
    border-radius: 0 0 0 0;
    border-top: 0;
    border-bottom: 0;
}

/* input field style */
input {
    border: 1px solid;
    border-radius: 5px;
    padding: 0 0 0 5px;
    background-color: #eee;
}

/* select dropdown style */
select {
    width: 120px;
    padding: 0 0 0 5px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/static/assets/dropdown_arrow.png") 96% / 15% no-repeat #eee;
}

/* when added as a class, removes padding from row or col */
.no-padding {
    padding-right: 0;
    padding-left: 0;
}

/* badges for schedules tabs */
.badge-notify {
    border-radius: 15%;
    background: #dd4245;
    position: relative;
    top: -18px;
    left: -4px;
}

/* class for adding black borders */
.outline {
    border: 1px solid #000000;
}

/* creates a stylized checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-container input:checked ~ .custom-checkbox {
    background-color: #ffffff;
}
.custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .custom-checkbox:after {
    display: block;
}
.custom-checkbox {
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.checkbox-container .custom-checkbox:after {
    color: #343a40;
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 18px;
    top: -1px;
    left: 2px;
}

/* alert upper border */
.line-default {
    border-top: 5px solid #4794de;
}
.line-active {
    border-top: 5px solid #51a53d;
}
.line-upcoming {
    border-top: 5px solid #e6b829;
}

/* line lower border */
.below-line-default {
    border-bottom: 5px solid #4794de;
}
.below-line-active {
    border-bottom: 5px solid #51a53d;
}
.below-line-upcoming {
    border-bottom: 5px solid #e6b829;
}

/* title row background */
.alert-default #title-row {
    background-color: #f0f6fd;
}
.alert-active #title-row {
    background-color: #f7fbf7;
}
.alert-upcoming #title-row {
    background-color: #fdf6e1;
}
.alert-default #tab-select {
    background-color: #f0f6fd;
}
.alert-active #tab-select {
    background-color: #f7fbf7;
}
.alert-upcoming #tab-select {
    background-color: #fdf6e1;
}

/*alert styling
.alert-default .alert {
    color: #004085;
    background-color: #cde5fd;
    border-bottom: 2px solid #4794de;
    border-radius: 0px;
}
.alert-active .alert {
    color: #31482b;
    background-color: #92d782;
    border-bottom: 2px solid #51a53d;
    border-radius: 0px;
}
.alert-upcoming .alert {
    color: #5a5132;
    background-color: #fde294;
    border-bottom: 2px solid #e6b829;
    border-radius: 0px;
}
*/

/* color-coding schemes for schedule thumbnails */
.schedule-active > .card-header, .schedule-active > .card-footer {
    background-color: #92d782;
}
.schedule-default > .card-header, .schedule-default > .card-footer {
    background-color: #f7f7f7;
}
.schedule-upcoming > .card-header, .schedule-upcoming > .card-footer {
    background-color: #fde294;
}

/* schedule options */
.schedule-options {
    color: #496c41;
}
.schedule-options :hover {
    cursor: pointer;
    color: #000000;
}

/* modal styling */
.modal .modal-header {
    background-color: #f7f7f7;
}
.modal .modal-footer {
    background-color: #f7f7f7;
}

/* change btn-outline class background from transparent to white */
.btn-outline-danger {
    background-color: white;
}
.btn-outline-dark {
    background-color: white;
}

/* Schedule Selection Homepage */
.schedule-card {
    cursor: pointer;
}

/* Preferences */
.emp-prefs-select-emp-tab {
    background-color: #eeeeee;
    color: black !important;
    font-weight: 450;
    margin-left: 0.5em;
    border: 1px solid black;
    margin-bottom: -1px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    width: 100%;
}

.selected-emp-tab {
    background-color: white !important;
    color: black !important;
    border-right: 1px solid white !important;
    z-index: 10;
}

.no-hover:hover{
    cursor: default !important;
}

/* View schedule */
.declined-shift {
    background-color: #dd4245;
}

#schedule-output.items td{
    text-align: center;
}

#view-schedule-button-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* schedule tabs */
#tab-select {
    border-bottom: 1px solid black;
}
.selected-tab {
    background-color: white !important;
    color: black !important;
    border-bottom: 1px solid white !important;
    z-index: 10;
}

#tab-select button {
    background-color: #eeeeee;
    color: black !important;
    font-weight: 450;
    margin-left: 0.5em;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -1px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
#tab-select button:focus {
    outline: none;
    box-shadow: none;
}

.emp-prefs-select-emp-tab:focus {
    outline: none;
    box-shadow: none;
}

#tab-select button:first-child {
    margin-left: 1em;
}
#tab-select button:last-child {
    margin-right: 1em;
}

/* shift button styling */
.shift-btn {
    background: #eeeeee;
    border-color: #000000;
    color: #000000;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/* highlight selected */
.selected {
    background: #dadada;
    color: #000000;
}
.calendar-selected {
    background: #dd4245;
    color: #000000;
}
.calendar-highlighted {
    background: #dadada;
    box-shadow: inset 0 0 10px #000000;
}

/* calendar */
.calendar_week,
.calendar_header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar_week {
    grid-auto-rows: 75px;
    text-align: right;
}
.calendar_header {
    background-color: #343a40;
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
}
.calendar_day {
    padding: 7px;
}
.calendar {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 5px;
}
.calendar_header > div {
    color: #ffffff;
    font-weight: normal;
}
.calendar_day {
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}
.calendar_day:last-child {
    border-right: 0;
}

/* big calendar */
.big-calendar-week,
.big-calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.big-calendar-week {
    grid-auto-rows: 125px;
    text-align: right;
}
.big-calendar-header {
    background-color: #343a40;
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
}
.big-calendar {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 5px;
}
.big-calendar-header > div {
    color: #ffffff;
    font-weight: normal;
}
.big-calendar-shift {
    border-bottom: 1px solid;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding-top: 8px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.big-calendar-shift:first-child {
    grid-column-start: 2;
    grid-column-end: 3;
}
.calendar-date-label {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    background-color: #eeeeee;
}
.big-calendar-day {
    overflow: scroll;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    display: grid;
    grid-auto-rows: 35px;
    grid-template-columns: 35px auto;
}
.big-calendar-day:last-child {
    border-right: 0;
}
.calendar-empty {
    background-color: #72777a;
}

/* preference calendar */
.pref-unavailable {
    background-color: red;
}
.pref-available {
    background-color: green;
}
.pref-prefer {
    background-color: #d4af37;
}
.pref-empty {
    background-color: grey;
}
.pref-calendar {
    display: flex;
    flex-direction: row;

    whitespace: nowrap;
     --cell-size: 30px;
     --num-emps: 7;
}
.pref-calendar-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 5px solid transparent;
}
.pref-calendar-label {
    font-weight: bold;
    height: var(--cell-size);
}
.pref-calendar-name-label {
    font-weight: bold;
    height: calc(var(--cell-size) + 2px);
    vertical-align: middle;
}
.pref-calendar-content {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.pref-calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.pref-calendar-title {
    text-align: center;
    height: var(--cell-size);
}
.pref-calendar-roles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pref-calendar-role {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.pref-calendar-all-prefs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pref-calendar-prefs {
    display: grid;
    grid-template-columns: var(--cell-size);
    grid-template-rows: repeat(var(--num-emps), var(--cell-size));
    grid-row-gap: 2px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.pref-calendar-pref {
    border: 1px solid;
    border-radius: 5px;
}
.pref-calendar-text {
    justify-self: center;
    align-self: center;
    font-size: 13px;
}

/* pop-up styling */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual pop-up */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Pop-up arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

/* Toggle this class - hide and show the pop-up */
.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

/* Add animation (fade in the pop-up) */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* just for funsies */
.ugly {
    font-family: "Times New Roman", Times, serif;
}
.less-ugly {
    font-family: "Courier New", monospace;
}
.pink {
    background-color: #d126ff;
    color: #5126ff;
}
.lit {
    background-image: url('/static/lit.jpeg')
}

