/* rounded table style class */
.rounded-table-basic {
    border: solid 1px;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.rounded-table-basic thead th {
    font-weight: normal;
    background: #343a40;
    color: #ffffff;
    border-radius: 0 0 0 0;
    border-top: 0;
    border-bottom: 0;
}

/* input field style */
input {
    border: 1px solid;
    border-radius: 5px;
    padding: 0 0 0 5px;
    background-color: #eee;
}

/* select dropdown style */
select {
    width: 150px;
    padding: 0 0 0 5px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("dropdown_arrow.png") 96% / 15% no-repeat #eee;
}

/* when added as a class, removes padding from row or col */
.no-padding {
    padding-right: 0;
    padding-left: 0;
}

/* badges for schedules tabs */
.badge-notify {
    border-radius: 15%;
    background: #dd4245;
    position: relative;
    top: -18px;
    left: -4px;
}

/* class for adding black borders */
.outline {
    border: 1px solid #000000;
}

/* creates a stylized checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-container input:checked ~ .custom-checkbox {
    background-color: #ffffff;
}
.custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .custom-checkbox:after {
    display: block;
}
.custom-checkbox {
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.checkbox-container .custom-checkbox:after {
    color: #343a40;
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 18px;
    top: -1px;
    left: 2px;
}

/* alert upper border */
.line-default {
    border-top: 5px solid #4794de;
}
.line-active {
    border-top: 5px solid #51a53d;
}
.line-upcoming {
    border-top: 5px solid #e6b829;
}

/* line lower border */
.below-line-default {
    border-bottom: 5px solid #4794de;
}
.below-line-active {
    border-bottom: 5px solid #51a53d;
}
.below-line-upcoming {
    border-bottom: 5px solid #e6b829;
}

/* title row background */
.alert-default #title-row {
    background-color: #f0f6fd;
}
.alert-active #title-row {
    background-color: #f7fbf7;
}
.alert-upcoming #title-row {
    background-color: #fdf6e1;
}
.alert-default #tab-select {
    background-color: #f0f6fd;
}
.alert-active #tab-select {
    background-color: #f7fbf7;
}
.alert-upcoming #tab-select {
    background-color: #fdf6e1;
}

/*alert styling
.alert-default .alert {
    color: #004085;
    background-color: #cde5fd;
    border-bottom: 2px solid #4794de;
    border-radius: 0px;
}
.alert-active .alert {
    color: #31482b;
    background-color: #92d782;
    border-bottom: 2px solid #51a53d;
    border-radius: 0px;
}
.alert-upcoming .alert {
    color: #5a5132;
    background-color: #fde294;
    border-bottom: 2px solid #e6b829;
    border-radius: 0px;
}
*/

/* color-coding schemes for schedule thumbnails */
.schedule-active > .card-header, .schedule-active > .card-footer {
    background-color: #92d782;
}
.schedule-default > .card-header, .schedule-default > .card-footer {
    background-color: #f7f7f7;
}
.schedule-upcoming > .card-header, .schedule-upcoming > .card-footer {
    background-color: #fde294;
}

/* schedule options */
.schedule-options {
    color: #496c41;
}
.schedule-options :hover {
    cursor: pointer;
    color: #000000;
}

/* modal styling */
.modal .modal-header {
    background-color: #f7f7f7;
}
.modal .modal-footer {
    background-color: #f7f7f7;
}

/* change btn-outline class background from transparent to white */
.btn-outline-danger {
    background-color: white;
}
.btn-outline-dark {
    background-color: white;
}

/* View schedule */
.declined-shift {
    background-color: #dd4245;
}

#schedule-output.items td{
    text-align: center;
}

#view-schedule-button-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* schedule tabs */
#tab-select {
    border-bottom: 1px solid black;
}
.selected-tab {
    background-color: white !important;
    color: black !important;
    border-bottom: 1px solid white !important;
    z-index: 10;
}
#tab-select button {
    background-color: #eeeeee;
    color: black !important;
    font-weight: 450;
    margin-left: 0.5em;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -1px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
#tab-select button:focus {
    outline: none;
    box-shadow: none;
}
#tab-select button:first-child {
    margin-left: 1em;
}
#tab-select button:last-child {
    margin-right: 1em;
}

/* just for funsies */
.ugly {
    font-family: "Times New Roman", Times, serif;
}
.less-ugly {
    font-family: "Courier New", monospace;
}
.pink {
    background-color: #d126ff;
    color: #5126ff;
}
.lit {
    background-image: url('/static/lit.jpeg')
}

