{% extends "base.html" %}

{% block containedcontent %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <meta name="user_schedules" content="{{ schedules }}">
</head>

<body>

<div class="container">
  <h2>Schedules</h2>
    <div class="row">

        {% for schedule in schedules %}
        <div class="col-sm-6">
          <div class="card" style="width:400px">
            <img class="card-img-top"
                 src='{{url_for("static", filename="document_icon.png")}}'
                 alt="Card image"
                 style="width:40%">
            <div class="card-body">
              <h4 class="card-title">{{ schedule }}</h4>
              <p class="card-text">This is a schedule thumbnail.</p>
              <a href="#" class="btn btn-primary" id="open_schedule">Open Schedule</a>
            </div>
          </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="container">
    <a href="/data_entry" class="btn btn-primary" id="new_schedule_button">Create New Schedule</a>
</div>

</body>
{% endblock %}