<div class="alert alert-primary w100" role="alert">
    <p>By default, the saved information for each of your active employees is automatically added
        to each schedule. Changes made here will only apply to this schedule.</p>
    <p>To manage your active employees and make permanent changes to this information, select "Employees"
        from the user dropdown by clicking on your username in the navigation bar at
        the top of the page.</p>
</div>
<table id="emp-data-table" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Training</th>
            <th scope="col">Min. Shifts</th>
            <th scope="col">Max. Shifts</th>
            <th scope="col">Seniority</th>
            <th scope="col">Omit from Schedule</th>
        </tr>
    </thead>
</table>

