<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary">The information on this page applies to only the current schedule. To
        make changes to the master Employees list, click on "Employees" in the navigation bar at the top of the
        page.</div>

        <div class="row">
            <div class="col-md-12" style="padding-bottom: 20px">
                <button type="button" class="btn btn-success" id="add-employees" data-target="#add-emps-modal" data-toggle="modal">Add Employees</button>
                <button type="button" class="btn btn-success" id="edit-employees" data-target="#edit-emps-modal" data-toggle="modal" disabled>Edit Selected</button>
                <button type="button" class="btn btn-danger float-right" id="remove-employees" disabled>Remove Selected</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="emp-info">
                    <thead>
                        <tr>
                            <th data-dbkey="checkbox" scope="col"><input type="checkbox" value="" id="check-all-employees"></th>
                            <th data-dbkey="name" scope="col">Name</th>
                            <th data-dbkey="training" scope="col">Training</th>
                            <th data-dbkey="roles" scope="col">Roles</th>
                            <th data-dbkey="min_shifts" scope="col">Min. Shifts</th>
                            <th data-dbkey="max_shifts" scope="col">Max. Shifts</th>
                            <th data-dbkey="seniority" scope="col">Seniority</th>
                            <th data-dbkey="inactive" scope="col">Inactive</th>
                        </tr>
                    </thead>
                    <tbody id="employee-table-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add emps modal -->
<div class="modal fade" id="add-emps-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employees</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="add-emps-modal-body">
          <div class="row">
              <div class="col-md-12">
                  <table class="table" id="add-emps-table">
                      <thead>
                        <tr>
                            <th scope="col"><input class="emp-select-checkbox" type="checkbox" value="" id="add-all-emps"></th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Inactive</th>
                        </tr>
                      </thead>
                      <tbody id="add-emps-tbody"></tbody>
                  </table>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-emps-submit" data-dismiss="modal" disabled>Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit employees modal -->
<div class="modal fade" id="edit-emps-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Employee(s)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="edit-emps-modal-body">
          <div class="alert alert-danger" id="multi-name-change-alert" role="alert" style="display: none">
              Modifying the name field with multiple selections is not recommended.</div>
          <form>
          <div class="form-group">
              <label for="edit-emps-name-input">Employee Name</label>
              <input type="text" class="form-control" id="edit-emps-name-input" placeholder="Employee Name">
              <div class="row">
                  <div class="col-md-4">
                      <label for="edit-emps-min-shifts-input">Minimum Shifts</label>
                      <div class="input-group">
                        <input type="text" id="edit-emps-min-shifts-input" class="form-control" placeholder="1, 2, 3..." aria-label="Minimum Shifts">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><span class="fas fa-angle-up"></span></button>
                            <button class="btn btn-outline-secondary" type="button"><span class="fas fa-angle-down"></span></button>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <label for="edit-emps-max-shifts-input">Maximum Shifts</label>
                      <div class="input-group">
                        <input type="text" id="edit-emps-max-shifts-input" class="form-control" placeholder="1, 2, 3..." aria-label="Maximum Shifts">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><span class="fas fa-angle-up"></span></button>
                            <button class="btn btn-outline-secondary" type="button"><span class="fas fa-angle-down"></span></button>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <label for="edit-emps-seniority-input">Seniority</label>
                      <div class="input-group">
                        <input type="text" id="edit-emps-seniority-input" class="form-control" placeholder="1-10" aria-label="Maximum Shifts">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><span class="fas fa-angle-up"></span></button>
                            <button class="btn btn-outline-secondary" type="button"><span class="fas fa-angle-down"></span></button>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <label for="edit-emps-role-input">Eligible Roles (Not case sensitive. Separate with commas.)</label>
                      <input type="text" class="form-control" placeholder="e.g Host, Waiter, Bartender" id="edit-emps-role-input">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <p>Additional Options</p>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="edit-emps-no-change-flag" value="no-change">
                          <label class="form-check-input" for="edit-emps-no-change-flag">No change</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="edit-emps-training-flag" value="training">
                          <label class="form-check-input" for="edit-emps-training-flag">Training</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="edit-emps-inactive-flag" value="inactive">
                          <label class="form-check-input" for="edit-emps-inactive-flag">Inactive</label>
                      </div>
                  </div>
              </div>
              <div class="alert alert-warning">You must select "No Change" if you do not want unselected options to be toggled off.</div>
          </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-emps-submit" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

