<div class="row">
    <div class="col-md-12">
        <div class="alert w100" role="alert">
            <p>
                To update an employee's preferences, select an employee from the list and choose a preference
                level corresponding to each shift.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <!-- border -->
    <div class="col-md-1">
    </div>

    <!--main content-->
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-3">
                <table class="table table-hover emp-prefs-table rounded-table-basic">
                    <thead>
                        <tr>
                            <th class="title">Employees</th>
                        </tr>
                    </thead>
                    <tbody class="emp-prefs"></tbody>
                </table>
            </div>
            <div class="col-md-9">

            </div>
        </div>

        <div class="row" id="pref-options" style="padding-bottom: 1em; display: none;">
            <div class="col-md-12">
                <div class="btn-group">
                        <button class="btn btn-outline-dark" id="back-button">Back</button>
                </div>

                <div class="btn-group float-right">
                    <button class="btn btn-outline-dark float-right" id="save-prefs">Save Preferences</button>
                </div>

                <div class="float-right" id="save-prefs-success" style="color:#5cb85c; display:None; padding-right: 10px">
                    <span class="fas fa-2x fa-check-circle"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- border -->
    <div class="col-md-1">
    </div>

</div>

