<div class="row">
    <div class="col-md-12">
        <div class="alert w100" role="alert">
            <p>
                To update an employee's preferences, select an employee from the list and choose a preference
                level corresponding to each shift.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <!-- border -->
    <div class="col-md-1">
    </div>

    <!--main content-->
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <p>Employees</p>
            </div>
            <div class="col-md-9">
                <div class="row" id="pref-options" style="display: none;">
                    <div class="btn-group float-right">
                        <button class="btn btn-outline-dark float-right" id="save-prefs">Save Preferences</button>
                    </div>

                    <div class="float-right" id="save-prefs-success" style="color:#5cb85c; display:None; padding-right: 10px">
                        <span class="fas fa-2x fa-check-circle"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" id="emp-prefs-tab-select">
            </div>
            <div class="col-md-9">


                <div class="row" id="emp-shift-prefs-table">
                    <table class="table rounded-table-basic emp-shift-prefs-table" style="display: none;">
                        <thead></thead>
                        <tbody class="emp-shift-prefs"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- border -->
    <div class="col-md-1">
    </div>

</div>

