<div class="alert alert-primary w100" role="alert">
    <p>
        To update an employee's preferences, select an employee from the list and choose a preference
        level corresponding to each shift.
    </p>
</div>

<div class="row">
    <!--left border-->
    <div class="col-sm-1">
    </div>

    <!--main content-->
    <div class="col-sm-10">

        <div class="row" style="padding-bottom: 1em;">
            <div class="col-sm-6">
                <h5><b>Employees</b></h5>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered table-hover emp-prefs-table">
                <thead></thead>
                <tbody class="emp-prefs"></tbody>
            </table>
        </div>

        <div class="row">
            <table class="table table-bordered emp-shift-prefs-table" style="display: none;">
                <thead></thead>
                <tbody class="emp-shift-prefs"></tbody>
            </table>
        </div>
    </div>

    <!--right border-->
    <div class="col-sm-1">
    </div>
</div>

