<br>

<div class="row">
    <!-- border -->
    <div class="col-md-1">
    </div>

    <!--main content-->
    <div class="col-md-10">
        <div class="pref-calendar">
            <div class="pref-calendar-days">
                <div class="pref-calendar-day-label">Day:</div>
                <div class="pref-calendar-day">Monday</div>
                <div class="pref-calendar-day">Tuesday</div>
                <div class="pref-calendar-day">Wednesday</div>
                <div class="pref-calendar-day">Thursday</div>
                <div class="pref-calendar-day">Friday</div>
                <div class="pref-calendar-day">Saturday</div>
                <div class="pref-calendar-day">Sunday</div>
                <div class="pref-calendar-day">Monday</div>
            </div>
            <div class="pref-calendar-content">
                <div class="pref-calendar-labels">
                    <div class="pref-calendar-role-label">Role:</div>
                    <div class="pref-calendar-employee-label">Aaron:</div>
                    <div class="pref-calendar-employee-label">Abel:</div>
                    <div class="pref-calendar-employee-label">Andrew:</div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref blue"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref blue"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref blue"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                 <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref green"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref blue"></div>
                </div>
                <div class="pref-calendar-col">
                    <div class="pref-calendar-role">Bar.</div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref blue"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref red"></div>
                    <div class="pref-calendar-pref yellow"></div>
                    <div class="pref-calendar-pref red"></div>
                </div>
            </div>
        </div>
        <!--
        <div class="pref-calendar-times">
            <div class="pref-calendar-text">Day:</div>
            <div class="pref-calendar-text">Monday</div>
            <div class="pref-calendar-text">Tuesday</div>
            <div class="pref-calendar-text">Wednesday</div>
        </div>
        -->
    </div>

    <!-- border -->
    <div class="col-md-1">
    </div>

</div>
