{% extends "base.html" %}


{% block optionalmeta %}
<title>Schedules</title>

<meta name="user_schedules" content="{{ schedules }}">
<style>
    .wrapper {
        height: 100%;
        display: flex;
    }
    .row.content {flex: 1}
    .main {
        padding-bottom: 100px;
    }
    .sidenav {
        flex: 1;
        padding-top: 20px;
        padding-bottom: 100px;
        background-color: #f1f1f1;
        height: 100%;
    }
    .schedules-row {
        padding-left: 1em;
        padding-right: 1em;
    }
</style>
{% endblock %}

{% block containedcontent %}
<div class="container-fluid">
    <div class="row">
        <div class="card w-100" id="info-bar">
            <div class="row">
                <div class="col-4" style="background: red">
                    <h2>{{ schedule["name"] }}</h2>
                    <h5>Start Date - End Date</h5>
                </div>
                <div class="col-8" style="background: blue">
                    <div id="quick-info-panel">
                        <h5 style="text-align: center">Quick Info Panel</h5>
                        <!-- Assigned employees counter -->
                        <span title="Employees Assigned to Schedule" class="fas fa-users fa-3x"></span>
                        <span style="font-size: 200%">
                            {% if schedule["employees"] is none %}
                            0
                            {% else %}
                            {{ schedule["employees"]|length }}
                            {% endif %}
                        </span>

                        <!-- Schedule duration -->

                        <!-- Shifts created -->

                        <!-- # of employees who have reported availability -->

                        <!-- Schedule status -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btn-group" id="tab-select" style="display: flex; flex: 1" role="group">
            <button type="button" class="btn-secondary">
                <span class="fas fa-angle-left fa-3x"></span>
            </button>
            <button type="button" class="btn-secondary active" data-view-id="shift-setup" style="flex: 1">Shift Setup</button>
            <button type="button" class="btn-secondary" data-view-id="emp-management" style="flex: 1">Manage Employees</button>
            <button type="button" class="btn-secondary" data-view-id="emp-prefs" style="flex: 1">Employee Preferences</button>
            <button type="button" class="btn-secondary" data-view-id="schedule-options" style="flex: 1">Schedule Options</button>
            <button type="button" class="btn-secondary" data-view-id="view-schedule" style="flex: 1">View Schedule</button>
        </div>
    </div>
    <div class="row">
        <div class='smgr-tab' id="shift-setup" style="height: 500px; min-width: 100%"></div>
        <div class='smgr-tab' id="emp-management" style="display: none"></div>
        <div class='smgr-tab' id="emp-prefs" style="height: 500px; background-color: pink; min-width: 100%; display: none"></div>
        <div class='smgr-tab' id="schedule-options" style="height: 500px; background-color: orange; min-width: 100%; display: none"></div>
        <div class='smgr-tab' id="view-schedule" style="height: 500px; background-color: cyan; min-width: 100%; display: none"></div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="/static/schedule_manager/schedule_manager_base.js" type="text/javascript"></script>
    <!--async call necessary because script loads before referenced html file-->
    <script src="/static/schedule_manager/shift_setup.js" type="text/javascript" async></script>
{% endblock %}
