<div class="row">
    <div class="col-md-12">
        <div class="alert w100" role="alert">
            <p>
                Shifts are organized by day. The day may be changed using the arrow buttons on the right. Shift tables are
                separated and arranged by role.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <!-- border -->
    <div class="col-md-1">
    </div>

    <!--main content-->
    <div class="col-md-10">

        <div class="row" style="padding-bottom: 1em;">
            <div class="col-sm-6">
                <h5 id="date"></h5>
            </div>

            <div class="col-sm-6">
                <div class="btn-group float-right" id="page-select" style="padding-left: 1em;">
                        <button type="button" class="btn btn-outline-dark" id="page-left" disabled>&laquo;</button>
                        <button type="button" class="btn btn-outline-dark" id="page-right">&raquo;</button>
                </div>
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-outline-dark float-right" id="add-shift">Add Shift</button>
                    <button type="button" class="btn btn-outline-dark float-right" id="save-shifts">Save Shifts</button>
                    <button type="button" class="btn btn-outline-danger float-right" id="remove-shifts" disabled>Remove Selected</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover rounded-table-basic shift-table">
                    <thead>
                        <tr>
                            <th data-dbkey="checkbox" scope="col">
                                <label class="checkbox-container">
                                    <input type="checkbox" value="" id="check-all-shifts">
                                    <span class="custom-checkbox" style="top: -12px !important;">
                                    </span>
                                </label>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Length</th>
                            <th scope="col">Employees</th>
                            <th scope="col">Role</th>
                            <th scope="col">Add Template</th>
                        </tr>
                    </thead>
                    <tbody class="shift-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- border -->
    <div class="col-md-1">
    </div>

</div>

<!-- shift templating modal -->
<div class="modal fade" id="create-template-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-template-modal-body">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <form>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="schedule-days">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <button type="button"
                        class="btn btn-outline-dark float-right"
                        id="create-template-submit"
                        style="margin-left: 1em;"
                        data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--script file path because it doesn't run when placed in schedule_manager_base.html-->
<!--this should not be here because it sticks the script call directly in the middle of the html block-->

