<div class="alert alert-primary w100" role="alert">
    <p>
        Shifts are organized by day. The day may be changed using the arrow buttons on the right. Shift tables are
        separated and arranged by role.
    </p>
</div>

<div class="row" style="padding-bottom: 1em;">
    <div class="col">
        <div class="btn-group float-right" id="page-select" style="padding-right: 1em; padding-left: 1em;">
                <button class="btn btn-outline-dark" id="page-left" disabled>&laquo;</button>
                <button class="btn btn-outline-dark" id="page-right">&raquo;</button>
        </div>
        <button class="btn btn-outline-dark float-right" id="add-shift" style="padding-right: 1em;">Add Shift</button>
    </div>
</div>

<div class="row">
    <!--left border-->
    <div class="col-sm-1">
        <p>This is the left border don't you fuck wit it.</p>
    </div>

    <!--main content-->
    <div class="col-sm-10">
        <div class="row shift-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Length</th>
                        <th scope="col">Number of Employees</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!--right border-->
    <div class="col-sm-1">
    </div>
</div>

<!--script file path because it doesn't run when placed in schedule_manager_base.html-->
