<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="row" id="view-schedule-button-bar">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-outline-dark" id="create-schedule">Create Schedule</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="schedule-output-div">
                        <table class="table rounded-table-basic table-hover" id="schedule-output-table">
                            <thead id="schedule-output-header"></thead>
                            <tbody id="schedule-output-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>

<!-- Shift Assignment Modal Content -->
<div id="shift-change-modal-content"></div>