<br>

<div class="row">
    <!-- border -->
    <div class="col-md-1">
    </div>

    <!--main content-->
    <div class="col-md-10">
        <div class="pref-calendar">
            <div class="pref-calendar-labels">
                <div class="pref-calendar-label">Day:</div>
                <div class="pref-calendar-label">Role:</div>
                <div class="pref-calendar-name-label">Aaron:</div>
                <div class="pref-calendar-name-label">Abel:</div>
                <div class="pref-calendar-name-label">Andrew:</div>
                <div class="pref-calendar-name-label">Louis:</div>
                <div class="pref-calendar-name-label">David:</div>
            </div>
            <div class="pref-calendar-content">

                <div class="pref-calendar-day">
                    <div class="pref-calendar-title">Wednesday</div>
                    <div class="pref-calendar-roles">
                        <div class="pref-calendar-role">
                            <div class="pref-calendar-title">Bar.</div>
                            <div class="pref-calendar-all-prefs">
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref yellow"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pref-calendar-role">
                            <div class="pref-calendar-title">Bud.</div>
                            <div class="pref-calendar-all-prefs">
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref yellow"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pref-calendar-day">
                    <div class="pref-calendar-title">Wednesday</div>
                    <div class="pref-calendar-roles">
                        <div class="pref-calendar-role">
                            <div class="pref-calendar-title">Bar.</div>
                            <div class="pref-calendar-all-prefs">
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref yellow"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pref-calendar-role">
                            <div class="pref-calendar-title">Bud.</div>
                            <div class="pref-calendar-all-prefs">
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                                <div class="pref-calendar-prefs">
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref yellow"></div>
                                    <div class="pref-calendar-pref red"></div>
                                    <div class="pref-calendar-pref blue"></div>
                                    <div class="pref-calendar-pref red"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="pref-calendar-times">
            <div class="pref-calendar-text">Day:</div>
            <div class="pref-calendar-text">Monday</div>
            <div class="pref-calendar-text">Tuesday</div>
            <div class="pref-calendar-text">Wednesday</div>
        </div>
        -->
    </div>

    <!-- border -->
    <div class="col-md-1">
    </div>

</div>
