<div class="row action-bar-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="action-bar">
            <button class="btn btn-outline-dark" id="choose-shift-template-modal-open">Choose Template</button>
            <button class="btn btn-outline-dark" id="save-shift-template-modal-open">Save Template</button>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <!-- border -->
    <div class="col-md-1">
    </div>

    <!--main content-->
    <div class="col-md-10">
        <div class="big-calendar">
            <div class="big-calendar-header">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tues</div>
                <div>Wed</div>
                <div>Thurs</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
        </div>
        <br>

    </div>

    <!-- border -->
    <div class="col-md-1">
    </div>

</div>


<!--Add shift modal-->
<div id="create-template-modal-body" style="display: none;">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10" id="add-shift-modal-content">
            <form>

                <table class="table new-table-basic" id="recurrence-options">
                    <thead>
                        <tr>
                            <th>Add Recurrence:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Weekends</td>
                        <tr>
                            <td>Weekdays</td>
                        </tr>
                        <tr>
                            <td>If the day has 6 letters</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-12">
                        <select id="select-day">
                            <option selected>Select day</option>
                            <option>Sunday</option>
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                        </select>

                        <select id="select-frequency" style="width: 160px;">
                            <option selected>Select frequency</option>
                            <option>Every day</option>
                            <option>Every 2nd day</option>
                            <option>Every 3rd day</option>
                            <option>Every 4th day</option>
                        </select>
                    </div>
                </div>

                <br>

                <div class="calendar">
                    <div class="calendar_header">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tues</div>
                        <div>Wed</div>
                        <div>Thurs</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                </div>

                <br>

            </form>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <button type="button"
            class="btn btn-sm btn-outline-dark float-right"
            id="create-template-submit"
            style="margin-left: 1em;">Save</button>
</div>

<!--Edit shift modal-->
<div id="edit-shift-modal-body" style="display: none;">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10" id="edit-shift-modal-content">

        </div>
        <div class="col-md-1">
        </div>
    </div>
    <button type="button"
            class="btn btn-sm btn-outline-dark float-right"
            id="save-all-edit-shift-modal"
            style="margin-left: 1em;">Apply All</button>
    <button type="button"
            class="btn btn-sm btn-outline-dark float-right"
            id="save-edit-shift-modal"
            style="margin-left: 1em;">Apply</button>
    <button type="button"
            class="btn btn-sm btn-outline-danger float-left"
            id="delete-all-edit-shift-modal"
            style="margin-left: 1em;">Delete All</button>
    <button type="button"
            class="btn btn-sm btn-outline-danger float-left"
            id="delete-edit-shift-modal"
            style="margin-left: 1em;">Delete</button>
</div>

<!--script file path because it doesn't run when placed in schedule_manager_base.html-->
<!--this should not be here because it sticks the script call directly in the middle of the html block-->

