<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="row" id="view-schedule-button-bar">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-outline-dark" id="create-schedule">Create Schedule</button>
                        <a id="download_csv" href="" download>Download CSV</a>
                    </div>
                </div>
                <div id="vs-calendar" class="row">
                    <div id="vs-calendar-emp-label" class="vs-calendar-emp-label"></div>
                    <div id="vs-calendar-header-row" class="vs-calendar-header-row"></div>
                    <div id="vs-calendar-emps"></div>
                    <div id="vs-calendar-shifts"></div>
                </div>
                <!--
                <div class="row">
                    <div class="col-md-12" id="schedule-output-div"></div>
                </div>
                <div class="big-color-block"></div>
                -->
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>

<!-- Shift Assignment Modal Content -->
<div id="shift-change-modal-content" class="jbox-content"></div>
<div id="shift-change-modal-footer" class="jbox-content"></div>
<div id="shift-issue-warning-tooltip-content" class="jbox-content"></div>