{% extends "base.html" %}

{% block optionalmeta %}
{% endblock optionalmeta %}

{% block navbaritems %}
{% if current_user.is_employee %}
   <li class="nav-item">
        <a class="nav-link" href="{{ url_for('render_emp_portal') }}">Home</a>
    </li>
{% else %}
    {{ super() }}
{% endif %}

{% endblock navbaritems %}

{% block containedcontent %}
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="header">
        <h5>Upcoming Shifts:</h5>
    </div>
    <div class="emp-portal-upcoming-shifts"></div>
        <div class="big-calendar">
            <div class="big-calendar-header">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tues</div>
                <div>Wed</div>
                <div>Thurs</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="big-calendar-date-row">
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
            </div>
            <div class="big-calendar-week one">
                <div class="big-calendar-day day"></div>
                <div class="big-calendar-day day"></div>
                <div class="big-calendar-day day"></div>
                <div class="big-calendar-day day"></div>
                <div class="big-calendar-day day"></div>
                <div class="big-calendar-day day"></div>
                <div class="big-calendar-day day"></div>
            </div>
            <div class="big-calendar-date-row">
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
                <div class="calendar-date-label"></div>
            </div>
            <div class="big-calendar-week two">
                <div class="big-calendar-day"></div>
                <div class="big-calendar-day"></div>
                <div class="big-calendar-day"></div>
                <div class="big-calendar-day"></div>
                <div class="big-calendar-day"></div>
                <div class="big-calendar-day"></div>
                <div class="big-calendar-day"></div>
            </div>
        </div>

    <div class="header">
        <h5>Schedules:</h5>
    </div>
    <div class="emp-portal-upcoming-schedules">
    </div>

    <div class="emp-portal-schedule-history"></div>
</div>
<div class="col-md-1"></div>
</div>
{% endblock containedcontent %}

{% block js %}
<script src="/static/employee_portal/emp_portal_base.js" type="text/javascript"></script>
{% endblock js %}